.col-sm-12
  .col-sm-4
    = f.select :day_of_week, options_for_select([["Monday", "Monday"], ["Tuesday", "tuesday"], ["Wednesday", "wednesday"], ["Thursday", "thursday"],["Friday", "friday"],["Saturday", "saturday"],["Sunday", "sunday"]]) , {:prompt => 'Select Day'}, :class=>"day_of_week form-control"
  .col-sm-2
    %h4{ :class=>"pull-right"} Hours

  .col-sm-3
    .form-group
      .input-group.date.time_picker
        =f.time_field :start_time , :class=>"form-control time", :placeholder => "From", :type => "text", :value => f.object.start_time.try(:strftime, '%H:%M %p')
        %span.input-group-addon
          %span.glyphicon.glyphicon-time

  .col-sm-3
    .form-group
      .input-group.date.time_picker
        =f.time_field :end_time , :class=>"form-control time", :placeholder => "To", :type => "text", :value => f.object.end_time.try(:strftime, '%H:%M %p')
        %span.input-group-addon
          %span.glyphicon.glyphicon-time


:javascript
  $(function () {
      $('.time_picker').datetimepicker({
          pickDate: false
      });
  });