%h3 Home
#places
  %form
    = text_field_tag 'gmaps-input-address', nil, placeholder: 'Enter address to search here ...', size: 75
%p#gmaps-error

#map
  
- if !current_user.nil? and current_user.admin?
  - @users.each do |user|
    %p
      User: #{link_to user.email, user} Role: #{user.role unless user.role.nil?}
