.container
  .col-lg-12
    %h2 Create Job Listing
.container
  .row.job-listingout
    = render 'progress_indicator'
    .col-lg-12.location-box
      %h2 Employee Prioritization Metrics
      .col-lg-12
        .col-lg-6.payment_out
          .form-group
            %label.col-sm-4.labl{:for => "inputPassword"} Desired Wage ($/hr)
            .col-sm-3
              %input#inputPassword.form-control{:placeholder => "10.00", :type => "text"}
      .col-lg-12
        .col-lg-6.payment_out
          .form-group
            %label.col-sm-4.labl{:for => "inputPassword"} Tax ($/hr)
            .col-sm-3
              %input#inputPassword.form-control{:placeholder => "1.30", :type => "text"}
      .col-lg-12
        .col-lg-6.payment_out2
          .form-group
            %label.col-sm-4.labl{:for => "inputPassword"} Total ($/hr)
            .col-sm-3
              %input#inputPassword.form-control{:placeholder => "11.30", :type => "text"}
    .col-lg-12.btnnextstep
      %button.btn.btn-success.pull-left.btn-nextstep{:type => "button"} Proceed to Next Step
      %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{:type => "button"} Proceed to Next Step
  / /row