#align_check_boxes label{

    float: left;
    width: 195px;

}
#align_check_boxes input {
  display: inline-block;
  float: left;
      margin-right: 10px;
}

ul.thumbnails.image_picker_selector li .thumbnail img {

	width: 115px;
	height: 75px;
}
.modal-width{
	width: 65% !important;

}