%footer
  .container
    .col-lg-3.col-xs-offset-5
      .Soical-icon
        %a{href: "#"}
          %img{src: "/assets/facebook.png"}/
        %a{href: "#"}
          %img{src: "/assets/twitter-icon.png"}/
        %a{href: "#"}
          %img{src: "/assets/gmail-icon.png"}/
        %a{href: "#"}
          %img{src: "/assets/youtube-icon.png"}/
      %p.copyright
        \© 2014
        = succeed ".com" do
          %b Greatest Hire