.col-lg-12
  = "Progress Indictor : Step #{@s} of 5"
  .col-lg-12
    .enrollment-contact
      %h2
        %a{href: "enrollment_contact_information"} Contact Information
        %img{src: "/assets/arrow-icon.png"}/
    .enrollment-detail
      %h2
        %a{href: "enrollment_detail"} Details
        %img{src: "/assets/arrow-icon.png"}/
    .enrollment-time
      %h2
        %a{href: "enrollment_availabilty"} Availability
        %img{src: "/assets/arrow-icon.png"}/
    .enrollment-imga
      %h2
        %a{href: "enrollment_images_attachments"} Images and Attachments