.container
  .col-lg-12
    %h2 Create Job Listing
.container
  .row.job-listingout
    .container.enrollment_top
      .col-lg-12
        %h2 Progress Indictor : Step 1 of 5
        .col-lg-12
          .enrollment-contact
            %h2
              %a{href: "#"} Contact Information
              %img{src: "images/arrow-icon.png"}/
          .enrollment-detail
            %h2
              %a{href: "#"} Details
              %img{src: "images/arrow-icon.png"}/
          .enrollment-time
            %h2
              %a{href: "#"} Availability
              %img{src: "images/arrow-icon.png"}/
          .enrollment-imga
            %h2
              %a{href: "#"} Images and Attachments
    .container
      .row
        .col-lg-11
          %h2 Available Hours
        .col-lg-11.time_bgcolor
          .col-lg-2
            %h2 Monday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
        .col-lg-11.time_bgcolor2
          .col-lg-2
            %h2 Tuesday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
        .col-lg-11.time_bgcolor2
          .col-lg-2
            %h2 Wednesday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
        .col-lg-11.time_bgcolor2
          .col-lg-2
            %h2 Thursday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
        .col-lg-11.time_bgcolor2
          .col-lg-2
            %h2 Friday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
        .col-lg-11.time_bgcolor2
          .col-lg-2
            %h2 Saturday
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} Start Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-4.timeinputtop
            %form.form-horizontal{role: "form"}
              .form-group
                %label.col-sm-4.control-label{for: "inputPassword3"} End Time
                .col-sm-6
                  %input#inputPassword3.form-control{placeholder: "3:35 PM", type: "password"}/
          .col-lg-2.timeinputtop.pull-right
            %button.btn.btn-success.btn-nextstep.pull-right{type: "button"} Delete
    .container
      .col-lg-11.location-box
        %h2 Availability Window Generator
        .col-lg-3
          .form-group
            .btn-group.menunlefttt
              %button.btn.btn-default{type: "button"} Day of week
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                %span.caret
                %span.sr-only Toggle Dropdown
              %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                %li
                  %a{href: "#"} Rating
                %li
                  %a{href: "#"} Another action
                %li
                  %a{href: "#"} Something else here
                %li.divider
                %li
                  %a{href: "#"} Separated link
        .col-lg-3
          .form-group
            %label.col-sm-5.control-label.label3{for: "inputEmail3"} End Time
            .btn-group.menunlefttt
              %button.btn.btn-default{type: "button"} 9:45AM
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                %span.caret
                %span.sr-only Toggle Dropdown
              %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                %li
                  %a{href: "#"} Rating
                %li
                  %a{href: "#"} Another action
                %li
                  %a{href: "#"} Something else here
                %li.divider
                %li
                  %a{href: "#"} Separated link
        .col-lg-3
          .form-group
            %label.col-sm-5.control-label.label3{for: "inputEmail3"} End Time
            .btn-group.menunlefttt
              %button.btn.btn-default{type: "button"} 9:45AM
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                %span.caret
                %span.sr-only Toggle Dropdown
              %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                %li
                  %a{href: "#"} Rating
                %li
                  %a{href: "#"} Another action
                %li
                  %a{href: "#"} Something else here
                %li.divider
                %li
                  %a{href: "#"} Separated link
        .col-lg-3
          %button.btn.btn-success.btn-nextstep{type: "button"} Standard Hours
        .col-lg-3.col-lg-offset-4
          %button.btn.btn-success.btn-nextstep.timeaddhours{type: "button"} Standard Hours
    .col-lg-12.btnnextstep
      %button.btn.btn-success.pull-left.btn-nextstep{type: "button"} Previous Step
      %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Clear
      %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Next Step
  / /row
%footer
  .container
    .col-lg-3.col-xs-offset-5
      .Soical-icon
        %a{href: "#"}
          %img{src: "images/facebook.png"}/
        %a{href: "#"}
          %img{src: "images/twitter-icon.png"}/
        %a{href: "#"}
          %img{src: "images/gmail-icon.png"}/
        %a{href: "#"}
          %img{src: "images/youtube-icon.png"}/
      %p.copyright
        \© 2014
        = succeed ".com" do
          %b Greatest Hire
/
  Bootstrap core JavaScript
  \==================================================
/ Placed at the end of the document so the pages load faster
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
%script{src: "js/bootstrap.min.js"}
%script{src: "js/carousel.js"}
%script{src: "js/simple-slider.js"}