.container
  .col-lg-12
    %h2 Create Job Listing
.container
  .row.job-listingout
    .container.enrollment_top
      .col-lg-12
        %h2 Progress Indictor : Step 1 of 5
        .col-lg-12
          .enrollment-contact
            %h2
              %a{href: "#"} Contact Information
              %img{src: "images/arrow-icon.png"}/
          .enrollment-detail
            %h2
              %a{href: "#"} Details
              %img{src: "images/arrow-icon.png"}/
          .enrollment-time
            %h2
              %a{href: "#"} Availability
              %img{src: "images/arrow-icon.png"}/
          .enrollment-imga
            %h2
              %a{href: "#"} Images and Attachments
        .container
          .row
            .col-lg-8
              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label{for: "inputEmail3"} Skillsete
                  .col-sm-8
                    %input#inputEmail3.form-control{placeholder: "Truck driving, 3.5, forklift operation, 2, interior painting,1.5", type: "email"}/
                .form-group
                  %label.col-sm-2.control-label.control-labell2{for: "inputPassword3"} Education and Certifications
                  .col-sm-8
                    %input#inputPassword3.form-control{placeholder: "High school diploma, 2009, community service award, 2010-2011", type: "password"}/
        .container
          .col-lg-11.location-box
            %h2 Transportation Details
            .col-lg-8
              %form.form-horizontal{role: "form"}
                .checkbox.checkbox2.transportation
                  %label
                    %input{type: "checkbox"}>/
                    Drivers License
                .checkbox.checkbox2.transportation
                  %label
                    %input{type: "checkbox"}>/
                    Has Vehicle
                .checkbox.checkbox2.transportation
                  %label
                    %input{type: "checkbox"}>/
                    Willing to Carpool
        .container
          .row
            .col-lg-11
              .form-group.col-lg-5.topmrg
                %label.col-sm-3.control-label{for: "inputEmail3"}
                .btn-group.menunlefttt
                  %button.btn.btn-default{type: "button"} Gender
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    %span.caret
                    %span.sr-only Toggle Dropdown
                  %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                    %li
                      %a{href: "#"} Rating
                    %li
                      %a{href: "#"} Another action
                    %li
                      %a{href: "#"} Something else here
                    %li.divider
                    %li
                      %a{href: "#"} Separated link
            .col-lg-12
              .form-group.col-lg-4.topmrggg2
                %label.col-sm-4.control-labelll{for: "inputEmail3"} Year of Birth
                .btn-group.menunlefttt
                  %button.btn.btn-default{type: "button"} 1965
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                    %span.caret
                    %span.sr-only Toggle Dropdown
                  %ul.dropdown-menu.dropdown-menunn{role: "menu"}
                    %li
                      %a{href: "#"} 1965
                    %li
                      %a{href: "#"} 1988
                    %li
                      %a{href: "#"} 1970
                    %li
                      %a{href: "#"} 1865
            .col-lg-8.topmrggg
              %form.form-horizontal{role: "form"}
                .form-group
                  %label.col-sm-2.control-label{for: "inputPassword3"} Credit Score
                  .col-sm-8
                    %input#inputPassword3.form-control{placeholder: "555.555.5555", type: "password"}/
            .col-lg-12
              .checkbox.checkbox2.transportation
                %label
                  %input{type: "checkbox"}>/
                  Criminal Convictions
        .col-lg-12.btnnextstep
          %button.btn.btn-success.pull-left.btn-nextstep{type: "button"} Previous Step
          %button.btn.btn-success.pull-left.btn-nextstep.bttn-leftmar{type: "button"} Next Step
      / /row
    %footer
      .container
        .col-lg-3.col-xs-offset-5
          .Soical-icon
            %a{href: "#"}
              %img{src: "images/facebook.png"}/
            %a{href: "#"}
              %img{src: "images/twitter-icon.png"}/
            %a{href: "#"}
              %img{src: "images/gmail-icon.png"}/
            %a{href: "#"}
              %img{src: "images/youtube-icon.png"}/
          %p.copyright
            \© 2014
            = succeed ".com" do
              %b Greatest Hire
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "js/carousel.js"}
    %script{src: "js/simple-slider.js"}