.additionalimg_bgbox
  = image_tag(photo.image.url(:medium))
.form-group.additionalimg_bgboxform
  %input.form-control{placeholder: "Photo Coption Text", type: "text"}/
.col-lg-12
  %button.btn.btn-success.pull-left.btnn-delete{type: "button"} Delete
  %button.btn.btn-success.pull-left.btnn-delete.pull-right{type: "button"} Delete
  %button.btn.btn-success.pull-left.btnn123.make_primary{type: "button"} Make Primary


