      <div id="myCarousel" class="carousel slide box-shadow-search" data-ride="carousel"> 
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%=image_tag('silder-img1.png') %>
          </div>
          <div class="item">
           <%=image_tag('silder-img2.png') %> 
             </div>
          <div class="item">
            <%=image_tag('silder-img3.png') %>
         </div>
        </div>
        <div class="col-lg-6 searchouter">
          <input type="text" class="seainput" placeholder="Where are you...?">
          <button type="button" class="btn btn-success btn-lg pull-right buttonsearch">Search</button>
        </div>
      </div>